In [24]:
# Add Matplotlib inline magic command
%matplotlib inline

# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [26]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [27]:
# Read the ride data and store it ina pandas DataFrame
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city             date   fare       ride_id
0  Lake Jonathanshire  1/14/2019 10:14  13.83  5.739410e+12
1  South Michelleport   3/4/2019 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2/24/2019 4:29  33.44  2.005070e+12
3          Rodneyfort  2/10/2019 23:22  23.44  5.149250e+12
4          South Jack    3/6/2019 4:28  34.58  3.908450e+12
5        South Latoya  3/11/2019 12:26   9.52  1.995000e+12
6       New Paulville  2/27/2019 11:17  43.25  7.932080e+11
7        Simpsonburgh   4/26/2019 0:43  35.98  1.119540e+11
8     South Karenland    1/8/2019 3:28  35.09  7.995620e+12
9       North Jasmine    3/9/2019 6:26  42.81  5.327640e+12

In [ ]:
# Inspect City Data DataFrame

In [37]:
# Get the count of columns and rows that are not null
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [30]:
# Get the count of columns and rows that are not null
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [31]:
# Get the data types of each column
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [33]:
# Get unique values of the type of city in city data
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [34]:
# Get the number of data points for Urban cities
sum(city_data_df["type"] == "Urban")

66

In [35]:
# Get the number of data points for Suburban cities
sum(city_data_df["type"] == "Suburban")

36

In [36]:
# Get the numberr of data points for Rural cities
sum(city_data_df["type"] == "Rural")

18

In [ ]:
# Inspect Ride Data DataFrame

In [38]:
# Get the columns and rows that are not null
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [40]:
# Get the columns and rows that are not null
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [41]:
# Get the data types for each column in ride data
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id    float64
dtype: object

In [ ]:
# Merge DataFrames

In [ ]:
# Combine the data into single dataset where 'city' is the common field
# into the new DataFrame called pyber data
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df